<nav id="nav" class="border-b border-gray-700">
    <ul class="flex flex-wrap text-sm font-medium text-gray-400">
        {% for id, tab in tabs %}
            <li class="me-2">
                <label>
                    <input type="radio" class="sr-only peer" name="tab" value="{{ id }}" autocomplete="off" {{ 'checked' if loop.index === 1 else '' }}>
                    <div
                        class="inline-block p-4 rounded-t-lg hover:bg-gray-800 hover:text-gray-300
                        cursor-pointer peer-checked:bg-gray-800 peer-checked:text-blue-500
                        ">
                        {{ tab.name }}
                    </div>
                </label>
            </li>
        {% endfor %}
    </ul>
</nav>